In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('inverts_database_CSV.csv', encoding = "ISO-8859-1", engine='python')

In [42]:
#look at the data set
pd.set_option('display.max_columns', 50)
df.head()

,the_source,country,region,sitename,Lat,Lon,Year,Date,depth_m,common name,Phylum,Class,Order,Family,Genus,genus species,Count,transect,t_Length,t_Width,Transect_area,total number of transect,total transect area,den_per_100m2,den_for_transect_#permeter,density_for_summed_transect area_#permeter,den_per_HA,id
0,LTO,Mozambique,Komame,Pao,-24.067983,35.053267,2016.0,8-Aug-16,17.7,Granular starfish,Echinodermata,Asteroidea,Valvatida,Oreasteridae,Choriaster,Austrofromia schultzei,1,1,80.0,5,400,1.0,400.0,NaN,0.0025,NaN,NaN,1
1,LTO,Mozambique,Komame,Pao,-24.067983,35.053267,2016.0,1-Sep-16,16,Longspined Sea Urchin,Echinodermata,Echinoidea,Diadematoida,Diadematidae,Diadema,Diadema setosum,38,1,80.0,5,400,1.0,400.0,NaN,0.095,NaN,NaN,2
2,LTO,Mozambique,Komame,Neptune,-24.066992,35.503783,2016.0,1-Sep-16,16,Magnificent Anemone,Cnidaria,Anthozoa,Actiniaria,Stichodactylidae,Heteractis,Heteractic mangnifica,2,1,80.0,5,400,1.0,400.0,NaN,0.005,NaN,NaN,3
3,LTO,Mozambique,Komame,Neptune,-24.066992,35.503783,2016.0,1-Sep-16,16,Blue Starfish,Echinodermata,Asteroidea,Valvatida,Ophidiasteridae,Linckia,Linckia laevigata,1,1,80.0,5,400,1.0,400.0,NaN,0.0025,NaN,NaN,4
4,LTO,Mozambique,Komame,Neptune,-24.066992,35.503783,2016.0,10-Aug-16,17.7,Giant Anemone,Cnidaria,Anthozoa,Actiniaria,Actiniidae,Condylactis,Heteractis magnifica,7,1,80.0,5,400,1.0,400.0,NaN,0.0175,NaN,NaN,5

In [34]:
#remove some unnecessary columns
df = df.drop(["Abundance","Method","Ecoregion","habitat_type","management"], axis=1)

In [16]:
#check present columns
for col in df.columns: 
    print(col)

the_source
Ecoregion
country
region
sitename
Lat
Lon
management
Year
Date
habitat_type
depth_m
common name
Phylum
Class
Order
Family
Genus
genus species
Count
transect
t_Length
t_Width
Transect_area
total number of transect
total transect area
den_per_100m2
den_for_transect_#permeter
density_for_summed_transect area_#permeter
den_per_HA

In [36]:
#make sure a dataframe
df = pd.DataFrame(df)

In [37]:
#add a unique id beyond index
df["id"] = df.index + 1

In [43]:
#look at data sources to select a target 
df.the_source.unique()

array(['LTO', 'MB_echin', 'MB_molls', 'MB_urchin', 'RMI_09_10', 'RMI_ail',
       'RMI_Ailk_06', 'RMI_bik_02_03', 'SPC', 'RC_Indo', 'RC_ARB',
       'RC_ATL', 'RC_EST', 'RC_HAW', 'RC_RED', 'RLS', 'NOAA_MMT',
       'NOAA_PR_1999_2003', 'NOAA_PR_2004_2013', 'NOAA_PR_2014_2018',
       'NOAA_Tortugas', 'KW_Jap', 'Leeds_mart', 'CCC_C', 'CCC_M', 'CCC_P',
       'ECOT', 'NOAA_Fen_08'], dtype=object)

In [48]:
#test of adding absence data with just ccc_c first

CCC = df['the_source'] == "CCC_C"
dfc = df[CCC]

In [50]:
dfc.head(10)

,the_source,country,region,sitename,Lat,Lon,Year,Date,depth_m,common name,Phylum,Class,Order,Family,Genus,genus species,Count,transect,t_Length,t_Width,Transect_area,total number of transect,total transect area,den_per_100m2,den_for_transect_#permeter,density_for_summed_transect area_#permeter,den_per_HA,id
175735,CCC_C,Cambodia,KK01,KK01,10.63659402,103.3010684,2013.0,"Friday, August 16, 2013",4,Feather Duster Worms,Annelida,Polychaeta,Echinothurioida,NaN,NaN,NaN,30,0-20m,20.0,5,100,4.0,NaN,NaN,NaN,NaN,NaN,175736
175736,CCC_C,Cambodia,KK01,KK01,10.63659402,103.3010684,2013.0,"Friday, August 16, 2013",4,Feather Duster Worms,Annelida,Polychaeta,Echinothurioida,NaN,NaN,NaN,19,25-45m,20.0,5,100,4.0,NaN,NaN,NaN,NaN,NaN,175737
175737,CCC_C,Cambodia,KK01,KK01,10.63659402,103.3010684,2013.0,"Friday, August 16, 2013",4,Feather Duster Worms,Annelida,Polychaeta,Echinothurioida,NaN,NaN,NaN,30,50-70m,20.0,5,100,4.0,NaN,NaN,NaN,NaN,NaN,175738
175738,CCC_C,Cambodia,KK01,KK01,10.63659402,103.3010684,2013.0,"Friday, August 16, 2013",4,Feather Duster Worms,Annelida,Polychaeta,Echinothurioida,NaN,NaN,NaN,30,75-95m,20.0,5,100,4.0,NaN,NaN,NaN,NaN,NaN,175739
175739,CCC_C,Cambodia,KK01,KK01,10.63664776,103.3009767,2010.0,5/9/2010,5,Feather Duster Worms,Annelida,Polychaeta,Echinothurioida,NaN,NaN,NaN,16,0-20m,20.0,5,100,4.0,NaN,NaN,NaN,NaN,NaN,175740
175740,CCC_C,Cambodia,KK01,KK01,10.63664776,103.3009767,2010.0,5/9/2010,5,Feather Duster Worms,Annelida,Polychaeta,Echinothurioida,NaN,NaN,NaN,28,25-45m,20.0,5,100,4.0,NaN,NaN,NaN,NaN,NaN,175741
175741,CCC_C,Cambodia,KK02,KK02,10.63149825,103.2966368,2013.0,"Monday, September 16, 2013",4,Feather Duster Worms,Annelida,Polychaeta,Echinothurioida,NaN,NaN,NaN,48,0-20m,20.0,5,100,4.0,NaN,NaN,NaN,NaN,NaN,175742
175742,CCC_C,Cambodia,KK02,KK02,10.63149825,103.2966368,2013.0,"Monday, September 16, 2013",4,Feather Duster Worms,Annelida,Polychaeta,Echinothurioida,NaN,NaN,NaN,69,25-45m,20.0,5,100,4.0,NaN,NaN,NaN,NaN,NaN,175743
175743,CCC_C,Cambodia,KK02,KK02,10.63149825,103.2966368,2013.0,"Monday, September 16, 2013",4,Feather Duster Worms,Annelida,Polychaeta,Echinothurioida,NaN,NaN,NaN,107,50-70m,20.0,5,100,4.0,NaN,NaN,NaN,NaN,NaN,175744
175744,CCC_C,Cambodia,KK02,KK02,10.63149825,103.2966368,2013.0,"Monday, September 16, 2013",4,Feather Duster Worms,Annelida,Polychaeta,Echinothurioida,NaN,NaN,NaN,78,75-95m,20.0,5,100,4.0,NaN,NaN,NaN,NaN,NaN,175745

In [238]:
#import target species data
TS = pd.read_csv('target_species.csv', encoding = "ISO-8859-1", engine='python')
TS = TS.CCC_C
TS = pd.DataFrame(TS)
dfts = TS.head(26)
dfts

                           CCC_C
0           Feather Duster Worms
1           Christmas Tree Worms
2                      Flatworms
3            Banded Coral Shrimp
4                  Spiny Lobster
5                        Cowries
6               Triton's Trumpet
7                     Cone Shell
8                       Drupella
9                       Topshell
10                    Nudibranch
11               Other Gastropod
12                       Octopus
13                    Cuttlefish
14                         Squid
15                          COTS
16        Chocolate-chip Seastar
17                  Cushion Star
18                  Feather Star
19         Long Spine Sea Urchin
20                 Pencil Urchin
21              Collector Urchin
22  Prickly Redfish Sea Cucumber
23         Greenfish Seacucumber
24             Pinkfish Cucumber
25                   Giant Clams

In [66]:
dfc.rename(columns={'common name':'common'}, 
                 inplace=True)
#check to make sure these look the same as the target species list
dfc.common.unique()

array(['Feather Duster Worms', 'Christmas Tree Worms', 'Flatworms',
       'Banded Coral Shrimp', 'Spiny Lobster', 'Cowries',
       "Triton's Trumpet", 'Cone Shell', 'Drupella', 'Topshell',
       'Nudibranch', 'Other Gastropod', 'Octopus', 'Cuttlefish', 'COTS',
       'Chocolate-chip Seastar', 'Cushion Star', 'Feather Star',
       'Long Spine Sea Urchin', 'Pencil Urchin', 'Collector Urchin',
       'Prickly Redfish Sea Cucumber', 'Greenfish Seacucumber',
       'Pinkfish Cucumber', 'Giant Clams'], dtype=object)

In [172]:
#Create a unique ID for each transect/replicate that will need to have target species filtered through 

dfc = dfc.assign(id=(dfc['Lat'] + '_' + dfc['Lon'] + '_' + dfc['transect']).astype('category').cat.codes)
dfc[dfc.transect != 'NaN'] #dropping NA's doesn's seem to work great yet
dfc_test = dfc[['Lat','Lon','common','id','transect','Count']]
dfc_test.head()

                Lat          Lon                common  id transect Count
175735  10.63659402  103.3010684  Feather Duster Worms  40    0-20m    30
175736  10.63659402  103.3010684  Feather Duster Worms  41   25-45m    19
175737  10.63659402  103.3010684  Feather Duster Worms  42   50-70m    30
175738  10.63659402  103.3010684  Feather Duster Worms  43   75-95m    30
175739  10.63664776  103.3009767  Feather Duster Worms  44    0-20m    16

In [173]:
#na's in transect removed

#dfc_test['transect'].isna()
dfc_test[~dfc_test['transect'].isna()]

                Lat          Lon                common   id transect Count
175735  10.63659402  103.3010684  Feather Duster Worms   40    0-20m    30
175736  10.63659402  103.3010684  Feather Duster Worms   41   25-45m    19
175737  10.63659402  103.3010684  Feather Duster Worms   42   50-70m    30
175738  10.63659402  103.3010684  Feather Duster Worms   43   75-95m    30
175739  10.63664776  103.3009767  Feather Duster Worms   44    0-20m    16
175740  10.63664776  103.3009767  Feather Duster Worms   45   25-45m    28
175741  10.63149825  103.2966368  Feather Duster Worms   24    0-20m    48
175742  10.63149825  103.2966368  Feather Duster Worms   25   25-45m    69
175743  10.63149825  103.2966368  Feather Duster Worms   26   50-70m   107
175744  10.63149825  103.2966368  Feather Duster Worms   27   75-95m    78
175745  10.63184456  103.2971466  Feather Duster Worms   28    0-20m    67
175746  10.63184456  103.2971466  Feather Duster Worms   29   25-45m    51
175747  10.63184456  103.2971466  Feather Duster Worms   30   50-70m    35
175748  10.63184456  103.2971466  Feather Duster Worms   31   75-95m    30
175749  10.62888106  103.2958105  Feather Duster Worms   16    0-20m    66
175750  10.62888106  103.2958105  Feather Duster Worms   17   25-45m    41
175751  10.62888106  103.2958105  Feather Duster Worms   18   50-70m    38
175752  10.62888106  103.2958105  Feather Duster Worms   19   75-95m    58
175753  10.62865188  103.2952269  Feather Duster Worms   12    0-20m    43
175754  10.62865188  103.2952269  Feather Duster Worms   13   25-45m    49
175755  10.62865188  103.2952269  Feather Duster Worms   14   50-70m    24
175756  10.62865188  103.2952269  Feather Duster Worms   15   75-95m    17
175757  10.62538367  103.2993757  Feather Duster Worms    4    0-20m    22
175758  10.62538367  103.2993757  Feather Duster Worms    5   25-45m    27
175759  10.62538367  103.2993757  Feather Duster Worms    6   50-70m    21
175760  10.62538367  103.2993757  Feather Duster Worms    7   75-95m    13
175761  10.62536777  103.2997779  Feather Duster Worms    0    0-20m     4
175762  10.62536777  103.2997779  Feather Duster Worms    2   50-70m    18
175763  10.62536777  103.2997779  Feather Duster Worms    3   75-95m    27
175764  10.62918754  103.3039789  Feather Duster Worms   20    0-20m    19
...             ...          ...                   ...  ...      ...   ...
181633  10.73211129  103.1852611           Giant Clams  328    0-20m     1
181634  10.73211129  103.1852611           Giant Clams  329   25-45m     2
181635  10.73246325  103.1851584           Giant Clams  332    0-20m     3
181636  10.73246325  103.1851584           Giant Clams  333   25-45m     2
181637  10.73246325  103.1851584           Giant Clams  334   50-70m     2
181638  10.73246325  103.1851584           Giant Clams  335   75-95m     4
181639  10.73887953  103.1817194           Giant Clams  364    0-20m     4
181640  10.73887953  103.1817194           Giant Clams  365   25-45m     1
181641  10.73887953  103.1817194           Giant Clams  366   50-70m     1
181642  10.73887953  103.1817194           Giant Clams  367   75-95m     1
181643  10.73721464  103.1814552           Giant Clams  361   25-45m     1
181644  10.73721464  103.1814552           Giant Clams  363   75-95m     1
181645  10.74825107  103.1874136           Giant Clams  376    0-20m     3
181646  10.74825107  103.1874136           Giant Clams  378   50-70m     2
181647  10.74825107  103.1874136           Giant Clams  379   75-95m     1
181648  10.74318639  103.1854692           Giant Clams  368    0-20m     3
181649  10.74318639  103.1854692           Giant Clams  369   25-45m     3
181650  10.74318639  103.1854692           Giant Clams  370   50-70m     2
181651  10.74318639  103.1854692           Giant Clams  371   75-95m     4
181652  10.74732293  103.1879219           Giant Clams  372    0-20m     2
181653  10.74732293  103.1879219           Giant Clams  373   25-45m     1
181654  10.74732293  103.1879219           Giant Clams  374   50-70m     1
181655  10.74732293  103.1879219           Giant Clams  375   75-95m     3
181656  10.74865106  103.1877952           Giant Clams  380    0-20m     4
181657  10.74865106  103.1877952           Giant Clams  381   25-45m    10
181658  10.74865106  103.1877952           Giant Clams  382   50-70m     3
181659  10.75268853  103.1903125           Giant Clams  385   25-45m     1
181660  10.76200174  103.1891234           Giant Clams  393   25-45m     2
181661  10.76200174  103.1891234           Giant Clams  394   50-70m     2
181662  10.76200174  103.1891234           Giant Clams  395   75-95m     2

[2561 rows x 6 columns]

In [ ]:
#make list for unique ids
#for i in id list:
    #for j in target species:
        #
#for each ids
#for name in list of target species:

In [237]:
#testing on one ID
# Create variable with TRUE 
ID40 = dfc_test['id'] == 40

# Select all cases where 
test_40 = dfc_test[ID40]
test_40

                Lat          Lon                 common  id transect Count
175735  10.63659402  103.3010684   Feather Duster Worms  40    0-20m    30
176655  10.63659402  103.3010684   Christmas Tree Worms  40    0-20m     4
177145  10.63659402  103.3010684                Cowries  40    0-20m     1
177538  10.63659402  103.3010684               Drupella  40    0-20m    17
178271  10.63659402  103.3010684               Topshell  40    0-20m    12
178774  10.63659402  103.3010684             Nudibranch  40    0-20m     1
179363  10.63659402  103.3010684        Other Gastropod  40    0-20m     9
180489  10.63659402  103.3010684  Long Spine Sea Urchin  40    0-20m   415
181433  10.63659402  103.3010684            Giant Clams  40    0-20m     1

In [180]:
##first line is  for each unique ID
for ind,row in test_40.iterrows():  ##for each unique id
    print(row['id']) ##test print

#for ind,row in dfts.iterrows(): ##this is for within 
    #print(row['CCC_C'])

40
40
40
40
40
40
40
40
40

In [244]:
#make a def function
#see if each Species is present or not in the id
dfts['present'] = dfts.CCC_C.isin(test_40.common) == True #add a true or false field
dfts
dfts2 = dfts[~dfts['present']] #select only rows that are not in the survey results
test_40 = test_40.append(dfts2) #attach those names as new rows 
test_40

test_40.common.fillna(test_40.CCC_C, inplace=True) #move the target species to common column
del test_40['CCC_C'] # delete the target species row
test_40 = test_40.drop_duplicates() # make sure no duplicate rows (everything exactly the same)
test_40['Count'].fillna(0, inplace=True) # put in zeros for the count

C:\Users\stuar\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Count,Lat,Lon,common,id,present,transect
175735,30,10.63659402,103.3010684,Feather Duster Worms,40.0,NaN,0-20m
176655,4,10.63659402,103.3010684,Christmas Tree Worms,40.0,NaN,0-20m
177145,1,10.63659402,103.3010684,Cowries,40.0,NaN,0-20m
177538,17,10.63659402,103.3010684,Drupella,40.0,NaN,0-20m
178271,12,10.63659402,103.3010684,Topshell,40.0,NaN,0-20m
178774,1,10.63659402,103.3010684,Nudibranch,40.0,NaN,0-20m
179363,9,10.63659402,103.3010684,Other Gastropod,40.0,NaN,0-20m
180489,415,10.63659402,103.3010684,Long Spine Sea Urchin,40.0,NaN,0-20m
181433,1,10.63659402,103.3010684,Giant Clams,40.0,NaN,0-20m
2,0,NaN,NaN,Flatworms,NaN,False,NaN
3,0,NaN,NaN,Banded Coral Shrimp,NaN,False,NaN
4,0,NaN,NaN,Spiny Lobster,NaN,False,NaN
6,0,NaN,NaN,Triton's Trumpet,NaN,False,NaN
7,0,NaN,NaN,Cone Shell,NaN,False,NaN
12,0,NaN,NaN,Octopus,NaN,False,NaN
13,0,NaN,NaN,Cuttlefish,NaN,False,NaN
14,0,NaN,NaN,Squid,NaN,False,NaN
15,0,NaN,NaN,COTS,NaN,False,NaN
16,0,NaN,NaN,Chocolate-chip Seastar,NaN,False,NaN
17,0,NaN,NaN,Cushion Star,NaN,False,NaN
18,0,NaN,NaN,Feather Star,NaN,False,NaN
20,0,NaN,NaN,Pencil Urchin,NaN,False,NaN
21,0,NaN,NaN,Collector Urchin,NaN,False,NaN
22,0,NaN,NaN,Prickly Redfish Sea Cucumber,NaN,False,NaN
23,0,NaN,NaN,Greenfish Seacucumber,NaN,False,NaN
24,0,NaN,NaN,Pinkfish Cucumber,NaN,False,NaN

In [1]:
#unique id for each site

#create new dataframe of site id  = new_df
    #common
    #unique id
    #count (0)

#for i in length(df):                                 #orginal dataframe 
    #ids = df(i).id
    #species = df(i).common
    #counts = df(i).count
    #Vlookup.Vlookup <- attach to row based off id and common 
    #pandas.df.replace df() df[], df['common'] df.common
df.common

NameError: name 'df' is not defined

In [2]:
pd.

SyntaxError: invalid syntax (<ipython-input-2-bc888235687a>, line 1)