In [1]:
import pandas as pd

In [32]:
df = pd.read_csv('inverts_database_CSV.csv', encoding = "ISO-8859-1", engine='python')

In [30]:
df.head()

,the_source,Ecoregion,country,region,sitename,Lat,Lon,management,Method,Year,...,Abundance,t_Length,t_Width,Transect_area,total number of transect,total transect area,den_per_100m2,den_for_transect_#permeter,density_for_summed_transect area_#permeter,den_per_HA
0,LTO,NaN,Mozambique,Komame,Pao,-24.067983,35.053267,NaN,transect quadrats,2016.0,...,NaN,80.0,5,400,1.0,400.0,NaN,0.0025,NaN,NaN
1,LTO,NaN,Mozambique,Komame,Pao,-24.067983,35.053267,NaN,transect quadrats,2016.0,...,NaN,80.0,5,400,1.0,400.0,NaN,0.095,NaN,NaN
2,LTO,NaN,Mozambique,Komame,Neptune,-24.066992,35.503783,NaN,transect quadrats,2016.0,...,NaN,80.0,5,400,1.0,400.0,NaN,0.005,NaN,NaN
3,LTO,NaN,Mozambique,Komame,Neptune,-24.066992,35.503783,NaN,transect quadrats,2016.0,...,NaN,80.0,5,400,1.0,400.0,NaN,0.0025,NaN,NaN
4,LTO,NaN,Mozambique,Komame,Neptune,-24.066992,35.503783,NaN,transect quadrats,2016.0,...,NaN,80.0,5,400,1.0,400.0,NaN,0.0175,NaN,NaN

In [31]:
df = df.drop(["Abundance","Method","Ecoregion","habitat_type","management"], axis=1)

KeyError: "['managment'] not found in axis"

In [16]:
for col in df.columns: 
    print(col)

the_source
Ecoregion
country
region
sitename
Lat
Lon
management
Year
Date
habitat_type
depth_m
common name
Phylum
Class
Order
Family
Genus
genus species
Count
transect
t_Length
t_Width
Transect_area
total number of transect
total transect area
den_per_100m2
den_for_transect_#permeter
density_for_summed_transect area_#permeter
den_per_HA

In [21]:
df = pd.DataFrame(df)

In [25]:
 df.head()

,the_source,Ecoregion,country,region,sitename,Lat,Lon,management,Year,Date,...,t_Length,t_Width,Transect_area,total number of transect,total transect area,den_per_100m2,den_for_transect_#permeter,density_for_summed_transect area_#permeter,den_per_HA,id
0,LTO,NaN,Mozambique,Komame,Pao,-24.067983,35.053267,NaN,2016.0,8-Aug-16,...,80.0,5,400,1.0,400.0,NaN,0.0025,NaN,NaN,1
1,LTO,NaN,Mozambique,Komame,Pao,-24.067983,35.053267,NaN,2016.0,1-Sep-16,...,80.0,5,400,1.0,400.0,NaN,0.095,NaN,NaN,2
2,LTO,NaN,Mozambique,Komame,Neptune,-24.066992,35.503783,NaN,2016.0,1-Sep-16,...,80.0,5,400,1.0,400.0,NaN,0.005,NaN,NaN,3
3,LTO,NaN,Mozambique,Komame,Neptune,-24.066992,35.503783,NaN,2016.0,1-Sep-16,...,80.0,5,400,1.0,400.0,NaN,0.0025,NaN,NaN,4
4,LTO,NaN,Mozambique,Komame,Neptune,-24.066992,35.503783,NaN,2016.0,10-Aug-16,...,80.0,5,400,1.0,400.0,NaN,0.0175,NaN,NaN,5

In [24]:
df["id"] = df.index + 1